{% extends 'shop/basic.html' %}
{% block title %} Title of About {% endblock %}
{% block css %}
img{
  border :1px solid #ddd;
  border-radius:4px;
  padding: 5px;
  width : 200px;
}
{% endblock %}

{% block body %}
{% load static %}
<div class="col-md-8">
<p style="font-size:14px;text-align:justify;padding-left:10px;font-family:Cursive">E-kart is a dynamic, fastest
    growing and service oriented electronic Retail Chain. We are a group of multi-brand stores dealing
    in consumer durables of all kinds, with presence in almost everywhere, E-kart has become a household
    name amongst the people of the state.
   <br><br>
What began in 2021 with just one store has not just grown in numbers but now also become synonymous with value and
    trust within the people of Bihar. Since its inception and after almost two decades Aditya Vision has catered to
    more than 1000 happy customers and the number is growing by each passing day.

<br><br>With a focus on customer satisfaction, the brand emphasizes also on the after sales experience of the customer.
    The proof of which is our happy customers base across Bihar.

</p>
</div>
<center>
<img src="/static/shop/bg1.jpg" alt="">
<img src="/static/shop/laptop.jpg" alt="">
<img src="/static/shop/bg1.jpg" alt="">
</center>
{% endblock %}