{% extends 'shop/basic.html' %}
{% block title %} CONTACT US {% endblock %}
{% block css %}

	 @import url("style.css");
     *
    {
	margin:0;
	padding:0;
	box-sizing:boarder-box;
	font-family: 'Poppins', sans-serif;
	max-width: 100%;
	max-height: 100%;
    }
    .contact
    {
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: url("/static/shop/image3.jpg");
	background-size: cover;
    }
   .contact .content
   {
	max-width: 800px;
	text-align: center;
   }
   .contact .content h2
   {
	font-size: 36px;
	font-weight: 500;
	color: black;
    }
   .contact .content p
   {

	font-weight: 300;
	color: black;
   }
   .container
   {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
   }
    .container .contactInfo
    {
	width:50%;
	display: flex;
	flex-direction: column;
   }
   .container .contactInfo .box
  {
	position: relative;
	padding: 20px 0;
	display: flex;
   }
  .container .contactInfo .box .icon
  {
	min-width: 30px;
	height: 30px;
	background: red;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size:32px;
   }
   .container .contactInfo .box .text
   {

	display: flex;
	margin-left: 20px;
	font-size: 20px;
	color: black;
	flex-direction: column;
	font-weight: 300;
    }
   .container .contactInfo .box .text h3
   {
	color: #00bcd4;
	font-weight: 500;
  }
   .contactForm
   {
	width: 40%;
	padding:40px;
	background: #00bcd4;
  }
   .contactForm h2
   {
	font-size: 30px;
	color: black;
	font-weight: 500;
   }
   .contactForm .inputBox
   {
	width: 100%;
	position: relative;
	margin-top: 10px;
   }
  .contactForm .inputBox input,
  .contactForm .inputBox textarea
  {
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
  }
  .contactForm .inputBox span
  {
	position: absolute;
	left: 0;
	padding:5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: red;
   }
   .contactForm .inputBox input:focus ~ span,
   .contactForm .inputBox input:valid ~ span,
   .contactForm .inputBox textarea:focus ~ span,
   .contactForm .inputBox textarea:valid ~ span
   {
	color: yellow;
	font-size: 12px;
	transform: translateY(-20px);
    }
   .contactForm .inputBox input[type="submit"]
  {
	width: 100px;
	background: yellow;
	color: red;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
,  }

   @media (max-width: 991px)
   {
	.contact
	{
		padding: 50px;
	}
	.container
	{
		flex-direction: column;
	}
	.container .contactInfo
	{
		margin-bottom: 40px;
	}
	.container .contactInfo,
	.contactForm
	{
		width: 100%;
	}
   }
{% endblock %}

{% block body %}



     {% load static %}
	 <div class="container-fluid">
          <b><font face="Ink Free" color="brown" size="4px">E-kart <img src="{% static '/shop/logo1.png' %}"
			  width=30 height=30></font></b> &nbsp;<b class="bg bg-warning">
		      Welcome to E-Commerce site:</b>
	 </div>

     <section class="contact">

	    <div class="content">
		  <h2>Contact Us</h2>
		  <p> We're here to help and answer any question you might have.For any query call us. If you have any suggestion about this website.
		      Please fill the form given below and submit to send you messages.We'll looking forward to your message and work on it as soon
			  as possible.
		  </p>
		</div>
		<div class="container">
		  <div class="contactInfo">
		    <div class="box">
			  <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
			  <div class="text">
			    <h3>Address:</h3>
				<p> <b>Boring Road, Beside G V Mall,<br>Patna - 800001</b></p>
			  </div>
			</div>
			<div class="box">
			   <div class="icon"><i class="far fa-envelope"></i></div>
			   <div class="text">
			     <h3>Email:</h3>
				 <p><b class="bg bg-primary">Contact@ekart.com</b></p>
			   </div>
			</div>
			  <div class="box">
			   <div class="icon"><i class="fas fa-phone-alt"></i></div>
			   <div class="text">
			     <h3>Phone:</h3>
				 <p><b class="bg bg-primary">Call Us on: +91 7615834732</b></p>
			   </div>
			  </div>
		  </div>
		  <div class="contactForm">
		    <form action="/shop/contact/" method="post">
				{% csrf_token %}
			   <h2>Send Messages</h2>
			   <div class="inputBox">
			     <input type="text" name="name" required="required">
				 <span>Full Name</span>
			   </div>
			   <div class="inputBox">
			     <input type="text" name="email" required="required">
				 <span>Email</span>
			   </div>
			   <div class="inputBox">
			     <textarea type="text" name="message" required="required"></textarea>
				 <span>Type Messages....</span>
			   </div>
			   <div class="inputBox">
			     <input type="submit" name="" value="submit">

			   </div>
			</form>
		  </div>
		</div>
	 </section>
{% endblock %}