<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Welcome to Ekart</title>
  </head>
  <body>
  <div class="jumbotron">
   <h1 class="display-4"><center><b>Welcome To Ekart</b></center></h1>
       <div class="container-fluid">
           <div class="col-md-4">
              <img src="/static/shop/bg1.jpg" style="height:300px; width:390px;border-radius:10px;box-shadow: 10px 10px 3px #BFBFBF;">
           </div>
           <div class="col-md-8">
              <p class="lead">E-kart is a dynamic, fastest growing and service oriented electronic Retail Chain in Bihar. We are a group of multi-brand stores dealing in consumer durables of all kinds, with presence in almost every district of Bihar, E-kart has become a household name amongst the people of the state. It is the first & only consumer electronic retail company to be listed on Bombay stock exchange (BSE).
                  <br><br>
                 What began in 2021 with just one store has not just grown in numbers but now also become synonymous with value and trust within the people of Bihar.</p>
                <hr class="my-4">
               <p><strong>With a focus on customer satisfaction, the brand emphasizes also on the after sales experience of the customer. The proof of which is our happy customers base across Bihar.</strong></p>
           </div>
       </div>
      <a class="btn btn-success btn-lg" href="/shop" role="button">Go To Shop</a>
      <a class="btn btn-danger btn-lg" href="/blog" role="button">Go To Blog</a>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
